@charset "utf-8";

/** 
 * This website is designed for mobile first 
 * All the default css rules are thus for mobile display 
 * The media queries take care of choosing the right rules for bigger screen sizes
 * but I guess that since you're here, you probably know what mobile first is ;-)
 *
 * Built on FOUNDATION 5 by the ZURB FOUNDATION 
 * BTW I know bootstrap too, but foundation is more flexible for what I was trying to
 * accomplish here
 */


/* ---------------------------------- *\ 
  #DECLARING SOME BEAUTIFUL FONTS 
\* ---------------------------------- */


@font-face { 
	font-family: Adam;
	src:url(../fonts/ADAM.otf);

}
@font-face {
	font-family:Aileron-semiBold; 
	src:url(../fonts/Aileron-SemiBold.otf);
}
@font-face {
	font-family:Aileron-Bold; 
	src:url(../fonts/Aileron-Bold.otf);
}


/* ---------------------------------- *\ 
  #GENERAL RULES FOR DOCUMENT 
\* ---------------------------------- */
 
html, body {
	font-size:16px;	
	margin-left: auto;
	margin-right: auto;	
	width:100vw;
	height:100%;
	max-width:1920px;
	text-shadow:none;
}

body { 
	overflow-x:hidden; /* if this property is used in html it crashes scrollmagic */
}


h1 { 
	font-family:Adam;
}

h2 { 
	font-family:Aileron-Bold;
}

h3 { 
	font-family:Aileron-semiBold;
	color:#fff;
}

p { 
	line-height:100%;
	font-family:Aileron-semiBold;
	color:#fff;
}










/* ---------------------------------- *\ 
 *....................
 *....................
 * TIME TO GET SERIOUS
 *....................
 *....................
\* ---------------------------------- */
	
	
	
	
	
	
	
	
	
	
	
/* ---------------------------------- *\ 
 * ---------------------------------- *
 * #NAVIGUATION                       *
 * ---------------------------------- *
\* ---------------------------------- */



/*---------------*
 *Mobile
 *---------------*/


.menu__mobile {
	display:block;
	position:fixed;
	width:100vw; 
	height:4rem; 
	background:#e74c3c;
	z-index:100;
	box-shadow: 0px 1px 20px #000;
	text-align:center;
}

.menu__mobile-background { 
	display:block;
	position:fixed;
	width:100vw; 
	height:4rem; 
	background:#e74c3c;
	z-index:99;
}

.menu__mobile-icones { 
	display:inline-block;
	list-style-type: none;	
	margin:0;
	z-index:101;
	position:relative;
	top:5rem;
	text-align:left;
}

.menu__mobile-icones li { 
	display:none;
	margin:7px 0;

}

.menu__mobile-icone-svg { 
	fill:none;
	stroke:#fff;
	stroke-width:3px;
	stroke-miterlimit:10;
	width:40px;
	height:40px;
}

.menu__mobile-text { 
	position:relative; 
	bottom:12px; 
	color:#fff;
	font-size:1.3rem;
	text-transform:uppercase;
	margin-left:5px;	
}


/* HAMBURGER MENU */


.menu__mobile-hamburger-container { 
	display:inline;
	height:35px;
	width:35px;
	z-index:101;
	float:right;
	margin:0;
	list-style-type: none;	
	position:absolute; 
	top:10px;
	right:45px;
} 

.menu__mobile-hamburger-svg { 
	fill:none;
	stroke:#fff;
	stroke-width:7px;
	stroke-linecap:round;
}

.menu__mobile-cross-svg { 
	fill:none;
	display:none; 
	stroke:#fff;
	stroke-width:7px;
	stroke-linecap:round;
}

.menu__mobile-hamburger-svg:hover { 
	stroke:#f1f5f5;
}


/*---------------*
 *Desktop
 *---------------*/


.menu__desktop {
	display:block;	
	position:fixed; 
	width:5rem;
	height:100%;
	background:#e74c3c;
	z-index:100;
	
}

.menu__desktop-icones-container { 
	position:relative; 
	height:100%;
} 

.menu__desktop-icones {
	display:block;
	position:absolute; 
	width:100%;
	height:420px;
	list-style-type: none;
	margin:0;
	z-index:101;
	text-align:center;
	top:calc( (100vh - 420px)/2); 
}

	.menu__desktop-icones li { 
		height:60px;
		background-color:#e74c3c;
		width:5rem;
		
	}
	
	.menu__desktop-icones li a { 
		display:block;  /* make the whole div clickable */ 
	} 
	
	.menu__desktop-icones img { 
		position:relative;
		top:7.5px;
	}
	
	.menu__desktop-icone-svg{
		fill:none;
		stroke:#fff;
		stroke-width:3;
		stroke-miterlimit:10;
		position:relative; 
		top:7.5px;
		float:left;
		margin-left:16px;
		
	}
	
	.menu__desktop-text { 
		display:none; 
	}
	
	
	
	.menu__desktop-icone--open svg { /* Change the color of svg when hovered */ 
		stroke:#E74C3C;
	}
	
	.menu__desktop-icone--open span{ 
		display:inline-block;
		position:relative; 
		top:12px;
		color:#e74c3c;
		font-size:1.5rem;
		text-transform:uppercase;
	}
	
	.menu__desktop-icone--open  { 
		box-shadow: 0px 1px 2px #000;
		background-color:#f1f5f5;
	}
	
	























/* ---------------------------------- *\ 
 * ---------------------------------- *
 * #WEBSITE CONTENT                   *
 * ---------------------------------- *
\* ---------------------------------- */


/*---------------*
 *General layout
 *---------------*/

.layout-full-width { 
	position:absolute; 
	width: 100vw; 
	top:4rem; 
}

@media only screen and (min-width: 64.0625em) { 

	.layout-full-width { 
		width: calc(100vw - 5rem);
		left:5rem; 
		top:0;	
		max-width:calc(1920px - 5rem);
	}
}





/* ---------------------------------- *\ 
 * ---------------------------------- *
 * #HOME SECTION                      *
 * ---------------------------------- *
\* ---------------------------------- */



/*---------------*
 *Image Container
 *---------------*/


#home { 
	position:relative;
	background-image: url(../images/New-York-small.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover; 
	height:calc(100vh - 4rem); 
	overflow:hidden; /* correct the size of the div to be perfect */ 
} 

@media only screen and (min-width: 64.0625em) { 
	
	#home { 
		background-image: url(../images/New-York.jpg);
		height:100vh; 
	} 
}


/*---------------*
 *Title, Container & Title 
 *---------------*/
 

.home__title-container {
	position:relative; 
	width:80%;
	top:45%; 
	margin-left:15%;
	margin-right:auto;
	
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

	.home__title-container h1 { 
			color:#e74c3c; 
			text-align:left;
			display:block;
			font-size:2.8rem; 
			margin:-0.25em 0; 
	}
	
	.home__title-container h2 { 
			font-family:Adam;
			color:#f2f5f5; 		 
			text-align:left;
			font-size:2.8rem; 
			margin:-0.25em 0; 
	}
	
	.home__separation-main-title {
			height:2em;	
	}

@media only screen and (min-width: 40.0625em) {
	.home__title-container {
		top:50%;
		width:50%;
		margin-left:35%;
	}
	
		.home__title-container h1 { 
			font-size:3.5rem; 
		}
		
		.home__title-container h2 { 		
			font-size:3.5rem; 
		}
		
		.home__separation-main-title {
			height:2.8em;	
		}
}

@media only screen and (min-width: 64.0625em){
	.home__title-container {
		top:52.5%;
		margin-left:37.5%;
	}
	
		.home__title-container h1 { 
			font-size:4rem; 
		}
		
		.home__title-container h2 { 
			font-size:4rem; 
		}
		
		.home__separation-main-title {
			height:3.1em;	
		}
}

@media only screen and (min-width: 90.0625em){
	.home__title-container {
		top:55%; 
		margin-left:40%;
	}
	
		.home__title-container h1	{ 
			font-size:4.5rem; 	
		}
		
		.home__title-container h2 { 
			font-size:4.5rem;  
		}
		
		.home__separation-main-title {
			height:3.5em;	
		}
}




/* ---------------------------------- *\ 
 * ---------------------------------- *
 * #DESCRIPTION SECTION               *
 * ---------------------------------- *
\* ---------------------------------- */



/*---------------*
 *Image Container
 *---------------*/


#description { 
	position:relative;
	background-image: url(../images/dummy-aix-rouge-small.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover; 
	height:calc(100vh - 4rem); 
} 

@media only screen and (min-width: 64.0625em) { 
	
	#description { 
		background-image: url(../images/dummy-aix-rouge.jpg);
		height:100vh; 
	} 
}


/*---------------*
 *Content, Container & Content 
 *---------------*/
 

.description__container {
	min-width:320px;
	position:relative; 
	top:42.5%; 
	
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

	.description__container h2 { 
		color:#fff;
		font-size:2.4rem;
		text-transform:uppercase;
		margin-left:-0.2rem;
	}
	
	.description__container p { 
		padding-top:1.25em;
		border-top: thick solid #fff;
	}

@media only screen and (min-width: 40.0625em) {

	.description__container {
		top:50%;
	}
	
		.description__container h2 { 
			font-size:2.8rem;
		}
		
		.description__container p { 
			font-size:1.25rem;
		}	
}

@media only screen and (min-width: 64.0625em) { 

		.description__container h2 { 
			text-align:right;
			margin-top:-0.3rem;
			margin-left:0;
		}
	
		.description__container p { 
			padding-left:0.75rem;
			padding-top:0.35rem;
			border-left: 0.175rem solid #fff;
			border-top:none;
			font-size:1.5rem;
		}
}

@media only screen and (min-width: 90.0625em){
	
		.description__container h2 { 
			font-size:3.6rem;
			margin-top:-0.5rem;
		}
		
		.description__container p { 
			font-size:1.9rem;
		}	
}





/* ---------------------------------- *\ 
 * ---------------------------------- *
 * #SKILLS SECTION                    *
 * ---------------------------------- *
\* ---------------------------------- */



/*---------------*
 *Section, Title & global container 
 *---------------*/
 
#skills { 
	background-image:url(../images/dummy-image-comp%C3%A9tences.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover; 
}
	
.skills__title-container { 
	margin:0;
	height:4rem;
	background-color:white; 
}

	.skills__title-container h2 { 
		color:#E74C3C; 
		font-size:2rem; 
		text-align:center; 
		text-transform:uppercase;
		max-width:95%;
		margin:0;
		margin-left:auto;
		margin-right:auto;
		position:relative; 
		top:12%;
	}

.skills__container { 
	height:calc((100vh - 4rem)*2); 
	margin:0;
	max-width:100%;
}

/* Different cases for skill-container on mobile */ 

@media only screen and (max-width: 40.0625em) {

	.skills__container--open-mobile-1 { 
		height:calc((100vh - 4rem) * 2.5);
	}
	
	.skills__container--open-mobile-2 { 
		height:calc((100vh - 4rem) * 3);
	}
	
	.skills__container--open-mobile-3 { 
		height:calc((100vh - 4rem) * 3.5);
	}
	
	.skills__container--open-mobile-4 { 
		height:calc((100vh - 4rem) * 4);
	}

}

/* Media Queries for section, title & containers */ 

@media only screen and (min-width: 40.0625em) {
	
	.skills__container { 
		height:calc(100vh - 4rem); 
	}
		
	.skills__container--open-one-tablet {
		height:calc((100vh - 4rem) * 1.5);
	}
		
	.skills__container--open-both-tablet {
		height:calc((100vh - 4rem) * 2);
	}
	
}

@media only screen and (min-width: 64.0625em) { 

	#skills { 
		height:100vh;		
	}
	
		.skills__title-container { 
			height:5rem;
		}
	
			.skills__title-container h2 { 
				margin:0; 
				max-width:1920px;
				font-size:3rem;
				height:inherit;		
			}
	
		.skills__container { 
			height:calc((100vh - 5rem)/2); 
		}
	
		.skills__container--open-desktop { 
			height:calc(100vh - 5rem);
		}
	
}

@media only screen and (min-width: 90.0625em) { 

	.skills__title-container { 
		height:7rem;
	}
	
		.skills__title-container h2 { 
			top:15%;
		}
	
	.skills__container { 
		height:calc((100vh - 7rem)/2); 
	}
	
	.skills__container--open-desktop { 
		height:calc(100vh - 7rem);
	}
	
}


/*---------------*
 *Columns Management  
 *---------------*/
 

.skills__col { 
	height:calc((100vh - 4rem)/2);
	padding:0;
	margin-top:-3px; /*align the description photo with top of background */ 
	
}

	.skills__col h3 { 
		font-size:2.2rem; 
		text-align:center; 
		position:relative;
		top:50%; 
		text-transform:uppercase;
		
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
	}

.skills__col--open{ 
	height:calc(100vh - 4rem);
}

@media only screen and (min-width: 40.0625em) {
	
	.skills__col { 
		float:left;  /* Prevent the strange bug where each div return line (since the css name were changed)*/
		margin-top:-2px;  /*align the description photo with top of background */ 
	}
	
	.skills__col--open-tablet {
		height:calc(100vh - 4rem);
	} 

	.skills__c3 {
		clear:left;  /* Allow the photo gestion de projet to go back to the line for tablet mode */ 
	}
	
}

@media only screen and (min-width: 64.0625em) { 

	.skills__col { 
		height:calc((100vh - 5rem)/2);
		margin-top:-3px; /*align the description photo with top of background */ 	
	}
	
	.skills__col--open{ 
		height:calc(100vh - 5rem);
	}
	
	.skills__c3 {
		clear:none; /* cancel the settings for the tablet mode */ 
	}
}

@media only screen and (min-width: 90.0625em) { 

	.skills__col { 
		height:calc((100vh - 7rem)/2);	
	}
	
	.skills__col--open{ 
		height:calc(100vh - 7rem);
	}
}


/*---------------*
 *Skills Photos   
 *---------------*/


.skills__photo-1 { 
	background-image:url(../images/competence-editoriales.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover; 
	height:100%;
}

.skills__photo-2 {
	background-image:url(../images/competence-webdesign.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover; 
	height:100%;
}

.skills__photo-3 {
	background-image:url(../images/competence-gestion-projets.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover; 
	height:100%;
}

.skills__photo-4 {
	background-image:url(../images/competence-market-social.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover; 
	height:100%;
}

.skills__photo--open { 
	height:50%; 
}


/*---------------*
 *Buttons & Svg   
 *---------------*/


/* Button settings */ 
.skills__rounded-button {
	width:4rem;
	height:4rem;	
	border-radius:50%;
	text-align:center;
	position:relative;
	margin:0 auto;
	top:42.5%;
}

@media only screen and (min-width: 64.0625em) {  
	.skills__rounded-button {
		top:55%;
	}
}

/* Setting Colors for each button */ 

.skills__col .b1 {
	background-color:#9A2519;
}

.skills__col .b2 {
	background-color:#D0EB55;
}

.skills__col .b3 {
	background-color:#E74C3C;
}

.skills__col .b4 {
	background-color:#1D60B4;
}

.skills__col .b1:hover {
	background-color:#E83826;
}

.skills__col .b2:hover {
	background-color:#DFFC5B;
}

.skills__col .b3:hover {
	background-color:#FF5442;
}

.skills__col .b4:hover {
	background-color:#1D77BC;
}

/* Hide the arrow up on button by default */ 


.skills__col .st0 { 
	fill:none;
	stroke:#fff;
	stroke-width:5;
	stroke-miterlimit:10;
}


.skills__col .st2 {
	fill:none;
	stroke:#fff;
	stroke-width:5;
	stroke-miterlimit:10;
	display:none;
}


/*---------------*
 *Description boxes  
 *---------------*/


.skills__description-1 {
	height:50%;  
	background-color:#9A2519;
	display:none;	
}
	
.skills__description-2 {
	height:50%; 
	background-color:#D0EB55;	
	display:none;	
}
	
.skills__description-3 {
	height:50%;  
	background-color:#E74C3C;
	display:none;	
}
	
.skills__description-4 {
	height:50%;
	background-color:#1D60B4;
	display:none;
}





/* ---------------------------------- *\ 
 * ---------------------------------- *
 * #REALIZATION SECTION               *
 * ---------------------------------- *
\* ---------------------------------- */



/*---------------*
 *Containers
 *---------------*/


#realization { 
	position:relative;
	height:calc(100vh - 4rem);
}

	.realization__title-container { 
		margin:0; 
		height:4rem;
	} 

		.realization__title-container h2 { 
			color:#E74C3C; 
			font-size:2.2rem; 
			text-align:center; 
			text-transform:uppercase;
			position:relative; 
			top:12%;
		}

	.realization__wrapper { 
			height:calc(100vh - 8rem);	
			text-align:center;
			/*overflow-x:hidden;	 used to hide the next slide out of the boud of screen */ 
	}	

@media only screen and (min-width: 64.0625em) {  
		
	#realization { 
		height:100vh;
	}
	
		.realization__title-container { 
			height:5rem;				
		}
		
			.realization__title-container h2 { 
				font-size:2.8rem; 
				top:10%;
			}
	
		.realization__wrapper { 
			height:calc(100vh - 5rem);	
		}	
}

@media only screen and (min-width: 90.0625em) { 
	
	.realization__title-container { 
		height:7rem;	
	}
	
		.realization__title-container h2 { 
			font-size:3rem; 
			top:15%;
		}
	
	.realization__wrapper { 
		height:calc(100vh - 7rem);	
	}	
}


/*---------------*
 *Slides
 *---------------*/


.realization__slide h3 { 
	color:#fff;
	font-size:2.2rem; 
	text-transform:uppercase;
	max-width:95%;
	padding-top: 0.5rem;
	margin-right:auto;
	margin-left:auto;
	position:relative; 
	top:25%; 
	
}

.realization__slide p { 
	position:relative;
	top:25%;
	width:90%;
	margin: 0 auto;
}

.realization__snackable { 
	background:url(../images/snackable-mock-up-mobile.jpg);
	background-repeat: no-repeat;
	background-position:center;
	height:inherit;
	position:absolute;
	float:left;
}

.realization__lodafrench { 
	background:url(../images/lodafrench-mock-up-mobile.jpg) ;
	background-repeat: no-repeat;
	background-position:center;
	height:inherit;
	position:absolute;
	left:100vw;
}

@media only screen and (min-width: 40.0625em) {

	.realization__slide h3 { 
		top:17.5%; 
		font-size:2.3rem;
	}
	
	.realization__slide p { 
		position:relative;
		top:17.5%;
		width:50%;
		font-size:1.3rem;
		margin: 0 auto;
	}
	
	.realization__snackable  { 
		background:url(../images/snackable-mock-up-large.jpg) no-repeat center ;
	}
	
	.realization__lodafrench { 
		background:url(../images/lodafrench-mock-up-large.jpg) no-repeat center ;
	}
}

@media only screen and (min-width: 64.0625em) { 

	.realization__slide h3 { 
		top:15%; 
		font-size:2.5rem;
	}
	
	.realization__slide p { 
		top:15%; 
		font-size:1.55rem;
	}
	
	.realization__lodafrench { 
		background:url(../images/lodafrench-mock-up-large.jpg) no-repeat center ;
		left:calc(100vw - 5rem); 
	}
}

@media only screen and (min-width: 90.0625em) { 
	
	.realization__slide h3 { 
		font-size:2.7rem;
	}
	.realization__slide p {  
		font-size:1.8rem;	
	}
}


/*---------------*
 *Arows
 *---------------*/


.realization__arrow-wrapper { 
	position:absolute; 
	z-index:2; 
	width:50%;
	margin:0 auto;
	top: 25%;
	height:1.5rem; 
	text-align:center;
	left:0;
	right:0; /* allow to center with margin auto and absolute positionning */ 
}

.realization__slider-dots {
	list-style: none;
	display: inline-block;
	margin:0 auto;
	height:100%;
	width:50%;
	position:relative;
	bottom:0.5rem;
}

.realization__slider-dots .dot {
	color: #bbbcbc;
	display: inline;
	font-size: 30px;
	margin-right: 5px; 
}

.realization__slider-dots .dot--active {
	color: #E74C3C;
}

.realization__arrow-left { 
	vertical-align:top; 
	display:inline-block;
	margin-right: 1rem;
}
.realization__arrow-right { 
	vertical-align:top; 
	display:inline-block;
	margin-left: 1rem;
}

@media only screen and (min-width: 40.0625em) {	
	
	.realization__arrow-wrapper { 
		width:30%; 
		top: 20%;
	}
}

@media only screen and (min-width: 64.0625em) { 
	
	.realization__arrow-wrapper{ 
		width:20%; 
		top: 20%;
	}
}

@media only screen and (min-width: 90.0625em) { 
	
	.realization__arrow-wrapper { 
		width:20%; 
		top: 20%;
	}
}





/* ---------------------------------- *\ 
 * ---------------------------------- *
 * #STORY SECTION                     *
 * ---------------------------------- *
\* ---------------------------------- */



/*---------------*
 *Global containers and list of years 
 *---------------*/
 
 
#story { 
	
}

.story__intro { 
	background-image:url(../images/france-map-black.jpg); 
	background-position: 0  4rem ; 
	background-repeat: no-repeat ;
	background-attachment: fixed;
	height:200vh;
	overflow:hidden;
}

.story__intro-title { 
	text-align:center;
	width:80vw;
	margin-left:auto;
	margin-right:auto;
	position:relative; 
	top:45vh;
	background-color:white;
}
	
.story__intro-title h2 { 
	color:#E74C3C; 
	font-size:2.5rem; 
	text-transform:uppercase;
}

.story__list-year { 
	position:fixed;
	bottom:5vh;
	width:100vw;
	height:8vh;
	z-index:3;
	
}

.story__year { 
	display:none; 
	list-style-type:none; 
	list-style-position:inside;
	font-size:3rem;
	font-family:Aileron-bold; 
	color:#212121;
}

.story__year--active { 
	display:block;
	background-color:#E74C3C;
	z-index:3;
	padding-left:25%;
	padding-right:25%;
	color:#fff;
	text-align:center;
	box-shadow: 4px 4px 12px #000;
}

.story__description-card { 
	background-color:#f1f5f5;
	box-shadow: 4px 4px 12px #000;
	padding: 0.5%;
	max-width:90%; 
	height:250px; 
	position:relative; 
	top: 25vh; 
	left:5%;
}
	
.story__description-card h3 {
	background-color:#E74C3C;
	color:#fff;
	padding-left:3%;
	font-size:1.3rem;
	font-family: helvetica, arial, sans-serif;
}

	.story__description-card h4 {
		padding-left:3%;
	}
	
		.story__description-card p {
			padding-left:3%;
			color:#000;
			font-size:0.9rem;
		}
	
.story__location-dot { 
	display:none;
}

@media only screen and (max-width: 40.0625em) {	/* for mobile, prevent the ul from stopping the year active expansion */ 
	.story__list-year ul { 
		height:100%;
		width:100%;
		margin:0;
		
	}
}

@media only screen and (min-width: 40.0625em) {	
	
	.story__intro { 
		background-image:url(../images/france-map-black-1024.jpg); 
	}
	
	.story__intro-title { 
		width:55vw;
		top:50vh;
	}
	
	.story__list-year { 
		width:12.5vw;
		height:100vh;		
		position:relative;
		top:17.5vh;
		bottom: inherit;
		left:0;
		float:right;
		margin-right:5vw;
		
	}
	
	.story__year { 
		display:block;
		position:relative; 
		font-size:2.3rem;
		min-width:100px;
	} 
	
		.story__year--active { 
			padding-left:5%;
			margin-left:-1vw;
			box-shadow:none;
		}
	
		.story__year--white { 
			color:#fff; 
		} 
	
	.story__description-card { 
		padding: 0.5%;
		width:400px; 
		height:205px; 
	}
	
		.story__description-card h3 {
			padding-left:3%;
		}
		
			.story__description-card h4 {
				padding-left:3%;
				font-size:1.2rem;
			}
	
				.story__description-card p {
					padding-left:3%;
					font-size:1rem;
				}
	
	.story__location-dot { 
		width:25px; 
		height:25px; 
		border-radius:50%;
		background-color:#f1f5f5;
		position:relative;
		top:20%;
		margin:0 auto; 
		display:block;
	}
}

@media only screen and (min-width: 64.0625em) { 

	.story__intro { 
		background-image:url(../images/france-map-black-1440.jpg); 
		background-position: top left ; 
	}
	
	.story__intro-title { 
		width:45vw;
	}
	
		.story__intro-title h2 { 
			font-size:3.2rem; 
		}
	
	.story__list-year { 
		width:10vw;
		height:100vh;		
		top:15vh;
		left:0;
	}
	
	.story__year {  
		font-size:2.7rem;
		min-width:130px;
	} 
	
		.story__year--active { 
			padding-left:10%;
		
		}
	
	.story__description-card { 
		padding: 0.5%;
		width:500px; 
		height:205px; 
	}
	
		.story__description-card h3 {
			font-size:1.6rem;
		}
	
			.story__description-card h4 {
				padding-left:3%;
				font-size:1.4rem;
			}
	
	.story__location-dot { 
		float:none;
	}

	
	
}

@media only screen and (min-width: 90.0625em) { 
	
	.story__intro { 
		background-image:url(../images/france-map-black-1920.jpg); 
	}
	
	.story__intro-title { 
		width:35vw;
	}
	
	.story__list-year {
		top:17.5vh;
	}
	
	.story__year {  
		font-size:3rem;
		min-width:140px;
	} 
}

	
/*---------------*
 *Story France 1
 *---------------*/
 
	
.story__france-1 { 
	background-image:url(../images/france-map.jpg); 
	background-position:  0  4rem ; 
	background-repeat: no-repeat ;
	background-attachment: fixed;
	position:relative; 
	top:-3px;
	height:300vh; /*50 vh = list years appears --> 100vh = description appear --> 150vh = 2010 --> 200vh = 2011 --> 250vh = Description disappear, arrow created --> 300vh = end */ 
}

.story__wrapper-description-iut { 	
	position:fixed;
	opacity:0;
	display:none;
}

	.story__wrapper-description-iut--display { 
		display:block;
	}

.story__wrapper-line-to-canada { 
	position:fixed; 
	z-index:19;
	display:none;
}

	.story__wrapper-line-to-canada--display { 
		display:block; 
	}


@media only screen and (min-width: 40.0625em) {	
	
	.story__france-1 { 
		background-image:url(../images/france-map-1024.jpg); 
	}
	
	.story__wrapper-description-iut { 	
		top:226px; 
		left:106px;
	}
	
	.story__location-dot-iut { 
		float:right;
	}
	
	.story__wrapper-line-to-canada { 
		top:-185px;
		left:-350px;
	}
	
}

@media only screen and (min-width: 64.0625em) { 
	
	.story__france-1 { 
		background-image:url(../images/france-map-1440.jpg); 
		background-position:top left;
	}
	
	.story__wrapper-description-iut { 	
		top:342px; 
		left:210px;
	}
	
	.story__wrapper-line-to-canada { 
		top:-83px;
		left:-147px;
	}
}

@media only screen and (min-width: 70em) {  /*correct the 1024-1120 situation when list year display on wrapper description */
	
	.story__wrapper-description-iut { 	
		top:342px; 
		left:438px;
	}
	
	.story__location-dot-iut { 
		float:none;
	}
}

@media only screen and (min-width: 90.0625em){
	
	.story__france-1 { 
		background-image:url(../images/france-map-1920.jpg); 
	}
	
	.story__wrapper-description-iut { 	
		top:542px; 
		left:665px;
	}
	
	.story__wrapper-line-to-canada { 
		top:120px;
		left:80px;
	}
}

/*---------------*
 *Story Canada
 *---------------*/


.story__canada { 
	background-image:url(../images/canada-map.jpg); 
	background-position: 0 4rem ; 
	background-repeat: no-repeat ;
	background-attachment: fixed;
	position:relative; 
	top:-3px;
	height:250vh; /* 50vh-75vh --> fadein description, 150-175 --> fadeout description, 150-200 --> draw line to finland, 200-225 erase line */  
}

.story__wrapper-description-canada { 	
	position:fixed;
	opacity:0;
	display:none;
}

.story__wrapper-description-canada--display { 
	display:block;
}

.story__wrapper-line-to-finland { 
	position:fixed; 
	z-index:19;
	display:none;
}

.story__wrapper-line-to-finland--display { 
	display:block; 
}

@media only screen and (min-width: 40.0625em) {	
	
	.story__canada {
		background-image:url(../images/canada-map-1024.jpg);
	}
	
	.story__wrapper-description-canada { 
		top:190px;
		left:33px;
		
	}
	
	.story__wrapper-line-to-finland { 
		top:37px;
		left:232px;
	}

}

@media only screen and (min-width: 64.0625em) { 

	.story__canada {
		background-image:url(../images/canada-map-1440.jpg);
		background-position: top left ; 
	}
	
	.story__wrapper-description-canada { 	
		top:95px; 
		left:84px;
	}
	
	.story__wrapper-line-to-finland { 
		top:-69px;
		left:334px;
	}

}

@media only screen and (min-width: 90.0625em){
	
	.story__canada { 
		background-image:url(../images/canada-map-1920.jpg); 
	}
	.story__wrapper-description-canada { 	
		top:455px; 
		left:203px;
	}
	
	.story__wrapper-line-to-finland { 
		top:297px;
		left:450px;
	}
	
}


/*---------------*
 *Story Finland
 *---------------*/
 
 
 .story__finland { 
 	background-image:url(../images/finland-map.jpg); 
	background-position: 0 4rem ; 
	background-repeat: no-repeat ;
	background-attachment: fixed;
	position:relative; 
	top:-3px;
	height:250vh;
 } 
 
.story__wrapper-description-finland { 	
	position:fixed;
	opacity:0;
	display:none;
}

.story__wrapper-description-finland--display { 
	display:block;
}

.story__wrapper-line-to-france { 
	position:fixed; 
	z-index:19;
	display:none;
}

.story__wrapper-line-to-france--display { 
	display:block; 
}

@media only screen and (min-width: 40.0625em) {	
	
	.story__finland {
		background-image:url(../images/finland-map-1024.jpg);
	}
	
	.story__wrapper-description-finland { 	
		top:65px; 
		left:140px;
	}
	
	.story__location-dot-finland {
		
	} 
	
	.story__wrapper-line-to-france { 
		top:312px;
		left:-510px;
	}

}

@media only screen and (min-width: 64.0625em) { 

	.story__finland {
		background-image:url(../images/finland-map-1440.jpg);
		background-position: top left ; 
	}
	
	.story__wrapper-description-finland { 	
		top:40px; 
		left:313px;
	}
	
	.story__location-dot-finland {
		float:none;	
	}
	
	.story__wrapper-line-to-france { 
		top:279px;
		left:-285px;
	}

}

@media only screen and (min-width: 90.0625em){
	
	.story__finland { 
 	background-image:url(../images/finland-map-1920.jpg); 
	background-position: top left; 
	}
	
	.story__wrapper-description-finland { 	
		top:135px; 
		left:503px;
	}
	
	.story__wrapper-line-to-france { 
		top:377px;
		left:-95px;
	}
	
}

/*---------------*
 *Story France 2 
 *---------------*/
 
 .story__france-2 { 
	background-image:url(../images/france-map.jpg); 
	background-position: 0 4rem ; 
	background-repeat: no-repeat ;
	background-attachment: fixed;
	position:relative; 
	top:-3px;
	height:500vh; /* */ 
}

.story__wrapper-description-gem { 	
	position:fixed;
	opacity:0;
	display:none;
}

.story__wrapper-description-gem--display { 
	display:block;
}

.story__description-gem-1A { 
	display:none;
}

.story__description-gem-1A--display { 
	display:block;
}

.story__description-gem-2A { 
	display:none;
}

.story__description-gem-2A--display { 
	display:block;
}

.story__wrapper-description-devoteam { 	
	position:fixed;
	opacity:0;
	display:none;
}

.story__wrapper-description-devoteam--display { 
	display:block;
}

@media only screen and (min-width: 40.0625em) {	
	
	.story__france-2 {
		background-image:url(../images/france-map-1024.jpg);
	}
	
	.story__wrapper-description-gem { 	
		top:150px; 
		left:110px;
	}
	
	.story__location-dot-gem { 
		float:right; 
	}
	
	.story__wrapper-description-devoteam { 	
		top:237px; 
		left:163px;
	}
	
	.story__location-dot-devoteam {
		top:-250px;	
	}

}

@media only screen and (min-width: 54.0625em) {	

	.story__wrapper-description-gem { 	
		top:150px; 
		left:293px;
	}
	
	.story__location-dot-gem { 
		float:none; 
	}
}

@media only screen and (min-width: 64.0625em) { 

	.story__france-2 {
		background-image:url(../images/france-map-1440.jpg);
		background-position: top left ; 
	}
	
	.story__wrapper-description-gem { 	
		top:233px; 
		left:221px;
	}
	
	.story__location-dot-gem { 
		float:right; 
	}
	
	.story__wrapper-description-devoteam { 	
		top:5px; 
		left:276px;
	}
	
	.story__location-dot-devoteam {
		top:20%;	
	}

}

@media only screen and (min-width: 90.0625em){
	
	.story__france-2 { 
	background-image:url(../images/france-map-1920.jpg); 
	background-position:top left; 
	}
	
	.story__wrapper-description-gem { 	
		top:379px; 
		left:683px;
	}
	
	.story__location-dot-gem { 
		float:none; 
	}
	
	.story__wrapper-description-devoteam { 	
		top:10px; 
		left:443px;
	}
	
}





/* ---------------------------------- *\ 
 * ---------------------------------- *
 * #HOBBY SECTION                     *
 * ---------------------------------- *
\* ---------------------------------- */



/*---------------*
 *Global containers  
 *---------------*/
 
 
 #hobby { 
 	
	background-color:#F1F5F5;
	overflow:hidden; /* Align the top with previous section */ 
	position:relative;
	top:-3px; /* correct bug where there is a small white space between section */ 
 
 }
 
 .hobby__title-container {
	 height:5rem;
	 position:relative;
	 top:14px; /* vertical align the title */ 
 }
 
 	.hobby__title-container h2 { 
		color:#e74c3c; 
		text-transform:uppercase;
		text-align:center;
		font-size:2.2rem;
		
	}

.hobby__container-individual { 
	height:calc(100vh - 4rem);
	overflow-y:hidden;
}

	.hobby__container-individual h3 { 
		text-transform:uppercase; 
		text-align:center;
		font-size:2rem;
		margin-top:1rem;
		margin-bottom:1rem;
	}

.hobby__text-container { 
	width:80vw;
	margin:auto;
	position:relative;
	top:2rem;
} 

	.hobby__text-container li { 
		font-size:1.3rem; 
		color:#fff;
		list-style-type:none;
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

.hobby__container-music { 
	background-color:#9A2519;
}

.hobby__container-cinema { 
	background-color:#D0EB55;
}

.hobby__container-video-games { 
	background-color:#E74C3C;
}

.hobby__container-science { 
	background-color:#1D60B4;
}

.hobby__music-icon { 
	text-align:center;
}



@media only screen and (min-width: 40.0625em) {	

	.hobby__container-individual { 
		overflow-y:auto;
		overflow-x:hidden;
		float:left;
	}
	
	.hobby__container-individual h3 { 
		font-size:2.4rem;
		margin-top:1.2rem;
		margin-bottom:1.2rem;
	}
	
	/*.hobby__content-container { 
		height:80%; 
		position:relative;
		top:10%;
	}*/
	
	.hobby__text-container { 
		width:67%;
		margin-left:28%;
		margin-right:5%;
	} 
	
	.hobby__text-container li { 
		font-size:1.5rem;
	}
}

@media only screen and (min-width: 51.0625em) { 
	
	.hobby__container { 
		max-width:64.06em;
	}
	.hobby__text-container { 
		width:60%;
		margin-left:35%;
		margin-right:5%;
	} 
}

@media only screen and (min-width: 64.0625em) { 
	
	#hobby { 
		height:100vh;
	}
	
	.hobby__container { 
		max-width:100%;
	}
	
	.hobby__container-individual {
		height:75vh;	
	}

}

@media only screen and (min-width: 90.0625em) { 
	.hobby__container-individual {
		height:60vh;	
	}
	
	.hobby__title-container { 
		top:0px;
		
	}
	
		.hobby__title-container h2 { 
			font-size:3.6rem;
			margin:0;
		}
}