@charset "utf-8";

/** 
 * This website is designed for mobile first 
 * All the default css rules are thus for mobile display 
 * The media queries take care of choosing the right rules for bigger screen sizes
 * but I guess that since you're here, you probably know what mobile first is ;-)
 *
 * Built on FOUNDATION 5 by the ZURB FOUNDATION 
 * BTW I know bootstrap too, but foundation is more flexible for what I was trying to
 * accomplish here
 */


/* ---------------------------------- *\ 
  #DECLARING SOME BEAUTIFUL FONTS 
\* ---------------------------------- */


@font-face { 
	font-family: Adam;
	src:url(../fonts/ADAM.otf);

}
@font-face {
	font-family:Aileron-semiBold; 
	src:url(../fonts/Aileron-SemiBold.otf);
}
@font-face {
	font-family:Aileron-Bold; 
	src:url(../fonts/Aileron-Bold.otf);
}


/* ---------------------------------- *\ 
  #GENERAL RULES FOR DOCUMENT 
\* ---------------------------------- */
 
html, body {
	font-size:16px;	
	margin-left: auto;
	margin-right: auto;	
	width:100vw;
	height:100%;
	max-width:1920px;
	text-shadow:none;
	overflow-y:auto;
	overflow-x:hidden; 
}


h1 { 
	font-family:Adam;
}

h2 { 
	font-family:Aileron-Bold;
}

h3 { 
	font-family:Aileron-semiBold;
	color:#fff;
}

p { 
	line-height:100%;
	font-family:Aileron-semiBold;
	color:#fff;
}




/* ---------------------------------- *\ 
 *....................
 *....................
 * TIME TO GET SERIOUS
 *....................
 *....................
\* ---------------------------------- */
	
	
	
	
	
/* ---------------------------------- *\ 
  #NAVIGATION
\* ---------------------------------- */


/*-----MOBILE-----*/

.menu-mobile {
	display:block;
	position:fixed;
	width:100vw; 
	height:4rem; 
	background:#e74c3c;
	z-index:100;
}

.menu-mobile .menu-icones { 
	display:block;
	list-style-type: none;	
	width:100%;	
	height:100%;
	margin:0;
	z-index:101;
}

.menu-mobile .menu-icones li { 
	display:inline;
}

/*-----DESKTOP-----*/

.menu-desktop {
	display:block;	
	position:fixed; 
	width:5rem;
	height:100vh;
	background:#e74c3c;
	z-index:100;
}

.menu-desktop .menu-icones {
	display:block;
	position:absolute; 
	width:100%;
	top:33%; 
	list-style-type: none;
	margin:0;
	z-index:101;
}

.menu-desktop .menu-icones li {
	
} 





/* ---------------------------------- *\ 
  #WEBSITE CONTENT
\* ---------------------------------- */


/*-----GENERAL LAYOUT-----*/

.layout-full-width { 
	position:absolute; 
	width: 100vw; 
	height: calc(100% - 4rem);
	top:4rem;
}

@media only screen and (min-width: 64.0625em) { 

	.layout-full-width { 
		width: calc(100vw - 5rem);
		height:100%;
		left:5rem; 
		top:0;	
	}
}





/* ---------------------------------- *\ 
  #HOME SECTION 
\* ---------------------------------- */


/*-----Image Container-----*/

#home-section { 
	position:relative;
	background-image: url(../images/New-York-small.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover; 
	height:calc(100vh - 4rem); 
	overflow:auto; /* Force the Div to align to the top of its parent (layout-full-width) */ 
} 

@media only screen and (min-width: 64.0625em) { 
	
	#home-section { 
		background-image: url(../images/New-York.jpg);
		height:100vh; 
	} 
}

/*-----Title Container & Title-----*/

#home-section .title-container {
	position:relative; 
	width:80%;
	top:45%; 
	margin-left:15%;
	margin-right:auto;
	
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

#home-section .title-container h1 { 
		color:#e74c3c; 
		text-align:left;
		display:block;
		font-size:2.8rem; 
		margin:-0.25em 0; 
}

#home-section .title-container h2 { 
		font-family:Adam;
		color:#f2f5f5; 		 
		text-align:left;
		font-size:2.8rem; 
		margin:-0.25em 0; 
}

#home-section .separation-main-title {
		height:2em;	
}

@media only screen and (min-width: 40.0625em) {
	#home-section .title-container {
		top:50%;
		width:50%;
		margin-left:35%;
	}
	
	#home-section .title-container h1 { 
		font-size:3.5rem; 
	}
	
	#home-section .title-container h2 { 		
		font-size:3.5rem; 
	}
	
	#home-section .separation-main-title {
		height:2.8em;	
	}
}

@media only screen and (min-width: 64.0625em){
	#home-section .title-container {
		top:52.5%;
		margin-left:37.5%;
	}
	
	#home-section .title-container h1 { 
		font-size:4rem; 
	}
	
	#home-section .title-container h2 { 
		font-size:4rem; 
	}
	
	#home-section .separation-main-title {
		height:3.1em;	
	}
}

@media only screen and (min-width: 90.0625em){
	#home-section .title-container {
		top:55%; 
		margin-left:40%;
	}
	
	#home-section .title-container h1	{ 
		font-size:4.5rem; 	
	}
	
	#home-section .title-container h2 { 
		font-size:4.5rem;  
	}
	
	#home-section .separation-main-title {
		height:3.5em;	
	}
}




/* ---------------------------------- *\ 
  #DESCRIPTION SECTION 
\* ---------------------------------- */


/*-----Image Container-----*/


#description-section { 
	position:relative;
	background-image: url(../images/dummy-aix-rouge-small.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover; 
	height:calc(100vh - 4rem); 
} 

@media only screen and (min-width: 64.0625em) { 
	
	#description-section { 
		background-image: url(../images/dummy-aix-rouge.jpg);
		height:100vh; 
	} 
}

/*-----Content Container & Content -----*/

#description-section .description-container {
	min-width:320px;
	position:relative; 
	top:42.5%; 
	
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

#description-section .description-container h2 { 
	color:#fff;
	font-size:2.4rem;
	text-transform:uppercase;
	margin-left:-0.2rem;
}

#description-section .description-container p { 
	padding-top:1.25em;
	border-top: thick solid #fff;
}

@media only screen and (min-width: 40.0625em) {

	#description-section .description-container {
		top:50%;
	}
	
	#description-section .description-container h2 { 
		font-size:2.8rem;
	}
	
	#description-section .description-container p { 
		font-size:1.25rem;
	}	
}

@media only screen and (min-width: 64.0625em) { 

	#description-section .description-container h2 { 
		text-align:right;
		margin-top:-0.3rem;
		margin-left:0;
	}
	
	#description-section .description-container p { 
		padding-left:0.75rem;
		padding-top:0.35rem;
		border-left: 0.175rem solid #fff;
		border-top:none;
		font-size:1.5rem;
	}
}

@media only screen and (min-width: 90.0625em){
	
	#description-section .description-container h2 { 
		font-size:3.6rem;
		margin-top:-0.5rem;
	}
	
	#description-section .description-container p { 
		font-size:1.9rem;
	}

	
}





/* ---------------------------------- *\ 
  #SKILLS SECTION 
\* ---------------------------------- */


/*-----Container & Title -----*/


#skills h2 { 
	color:#E74C3C; 
	font-size:2.2rem; 
	text-align:center; 
	text-transform:uppercase;
	max-width:95%;
	margin:0;
	margin-left:auto;
	margin-right:auto;
}

#skills .skills-container { 
	height:calc((100vh - 4rem)*2); 
	margin:0;
	max-width:100%;
}

#skills .skills-title-container { 
	margin:0;
}

@media only screen and (min-width: 64.0625em) { 

	#skills { 
		height:100vh;
		background-image:url(../images/dummy-image-comp%C3%A9tences.jpg);
		background-repeat: no-repeat;
		background-position:center;
		background-attachment:fixed;
		background-size:cover; 
	}
	
	#skills h2 { 
		margin:0; 
		max-width:1920px;
		font-size:3rem;
		height:inherit;
		
	}
	
	#skills .skills-container { 
		height:calc((100vh - 4rem)/2); 
	}
	
	#skills .open-skills-container-desktop { 
		height:calc(100vh - 4rem);
	}
	
	#skills .skills-title-container { 
		height:4rem;
		background-color:white; 
	}
}

/* Different cases for skill-container on mobile */ 

@media only screen and (max-width: 40.0625em) {

	#skills .skills-container-mobile-open-1 { 
		height:calc((100vh - 4rem) * 2.5);
	}
	
	#skills .skills-container-mobile-open-2 { 
		height:calc((100vh - 4rem) * 3);
	}
	
	#skills .skills-container-mobile-open-3 { 
		height:calc((100vh - 4rem) * 3.5);
	}
	
	#skills .skills-container-mobile-open-4 { 
		height:calc((100vh - 4rem) * 4);
	}

}

/*-----Columns -----*/

#skills .skills-container .skill-col { 
	height:calc((100vh - 4rem)/2);
	padding:0;
}

#skills .skills-container .skill-col h3 { 
	font-size:2.2rem; 
	text-align:center; 
	position:relative;
	top:50%; 
	text-transform:uppercase;
	
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

#skills .skills-container .open-skill-col{ 
	height:calc(100vh - 4rem);
}


/*-----Columns Skill Photos -----*/


#skills .skills-container .skill-col .skill-photo-1 { 
	background-image:url(../images/competence-editoriales.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover; 
	height:100%;
}

#skills .skills-container .skill-col .skill-photo-2 {
	background-image:url(../images/competence-webdesign.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover; 
	height:100%;
}

#skills .skills-container .skill-col .skill-photo-3 {
	background-image:url(../images/competence-gestion-projets.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover; 
	height:100%;
}

#skills .skills-container .skill-col .skill-photo-4 {
	background-image:url(../images/competence-market-social.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover; 
	height:100%;
}

#skills .skills-container .skill-col .photo-open { 
	height:50%; 
}

@media only screen and (min-width: 64.0625em) {  
	#skills .skills-container .skill-col { 
		margin-top:-3px; /*align the description photo with top of background */ 
	}
}

/*--------- Buttons and SVG ----------*/

#skills .skills-container .skill-col .rounded-button {
	width:4rem;
	height:4rem;	
	border-radius:50%;
	text-align:center;
	position:relative;
	margin:0 auto;
	top:42.5%;
}

@media only screen and (min-width: 64.0625em) {  
	#skills .skills-container .skill-col .rounded-button {
		
		top:55%;
	}
}

#skills .skills-container .skill-col .b1 {
	background-color:#9A2519;
}

#skills .skills-container .skill-col .b2 {
	background-color:#D0EB55;
}

#skills .skills-container .skill-col .b3 {
	background-color:#E74C3C;
}

#skills .skills-container .skill-col .b4 {
	background-color:#1D60B4;
}

#skills .skills-container .skill-col .b1:hover {
	background-color:#E83826;
}

#skills .skills-container .skill-col .b2:hover {
	background-color:#DFFC5B;
}

#skills .skills-container .skill-col .b3:hover {
	background-color:#FF5442;
}

#skills .skills-container .skill-col .b4:hover {
	background-color:#1D77BC;
}

#skills .skills-container .skill-col .st2 {
	display:none;
}


/*--------- Description boxes ----------*/


#skills .skills-container .skill-col .skill-description-1 {
	height:50%;  
	background-color:#9A2519;
	display:none;	
}
	
#skills .skills-container .skill-col .skill-description-2 {
	height:50%; 
	background-color:#D0EB55;	
	display:none;	
}
	
#skills .skills-container .skill-col .skill-description-3 {
	height:50%;  
	background-color:#E74C3C;
	display:none;	
}
	
#skills .skills-container .skill-col .skill-description-4 {
	height:50%;
	background-color:#1D60B4;
	display:none;
}

@media only screen and (min-width: 64.0625em) {  
	

}




/* ---------------------------------- *\ 
  #REALIZATION SECTION 
\* ---------------------------------- */

#realization { 
	position:relative;
	height:calc(100vh - 4rem); 
}

#realization .realization-title-container { 
	margin:0; 
} 

#realization .realization-title-container h2 { 
	color:#E74C3C; 
	font-size:2.2rem; 
	text-align:center; 
	text-transform:uppercase;
}

@media only screen and (min-width: 64.0625em) {  
	
	#realization { 
		height:100vh; 
	}
}



#realization .realization-wrapper .realization-snackable { 
	background:url(../images/snackable-mock-up-mobile.jpg) no-repeat center ;
	max-width:calc(1920px - 5rem);
	float: left;
}

#realization .realization-wrapper .realization-lodafrench { 
	background:url(../images/lodafrench-mock-up-mobile.jpg) no-repeat center ;
	max-width:calc(1920px - 5rem);
	float: left;
}

@media only screen and (min-width: 40.0625em) {

	#realization .realization-wrapper .realization-snackable  { 
		background:url(../images/snackable-mock-up-large.jpg) no-repeat center ;
		max-width:calc(1920px - 5rem);
		float: left;
	}
	
	#realization .realization-wrapper .realization-lodafrench { 
		background:url(../images/lodafrench-mock-up-large.jpg) no-repeat center ;
		max-width:calc(1920px - 5rem);
	}
}


#realization p { /* temporary, enlever la marge en dessous de p */ 
	margin-bottom:0;
} 