@charset "utf-8";
/* CSS Document */

#story .story-intro { 
		background:url(../images/france-map-black-calque.jpg); 
		background-position: top left ; 
		background-repeat: no-repeat ;
		background-attachment: fixed;
		height:400vh;
		overflow-y:none; /* force the div to align to the realization section */
	}
	
	#story .story-intro .story-intro-title { 
		text-align:center;
		width:35vw;
		height:4.5rem;
		margin-left:auto;
		margin-right:auto;
		position:relative; 
		top:50vh;
		background-color:white;
	}
	
	#story .story-intro .story-intro-title h2 { 
		color:#E74C3C; 
		font-size:3.2rem; 
		text-transform:uppercase;
		
	}